@charset "utf-8";
.gallery *{margin:0px;padding:0px;}
ul, ol, li{list-style:none;}
a{text-decoration:none;color:#333;}

.gallery{
  width:1240px;
  margin:0 auto;
}
.gallery > h3{
  text-align:center;
  line-height:60px;
  font-size:20px;
}
.g_nav{
  height:50px;
  border-bottom: 3px solid #000;;
}
.g_nav > ul{
  display:flex;
  justify-content: center;
}
.g_nav > ul > li{margin:0px 10px;}
.g_nav > ul > li > a{
  font-size:15px;background:#000;
  color:#fff;
  padding:4px 14px 5px 14px;
  border-radius:40px;
}
.act{background:#cf068c !important;}

/* 2.  갤러리 이미지 서식 */
.g_list{
  display:flex;
  padding:20px;
  flex-wrap: wrap; /* 다음줄로 자동넘김*/
}
.g_list > li{
  width:25%;
  height:200px;
  position:relative;
  overflow: hidden;
}
.g_list > li > a{}
.g_list > li > a img{
  width:100%;
  transition:0.3s;
  opacity: 0.8;
}
.g_list > li > a:hover img{
  opacity: 1;
  transform: scale(1.1);
}
.caption{
  display:block;
  background:rgba(0,0,0,.7);
  line-height:40px;
  color:#fff;
  position:absolute;
  bottom:0px;  left:0px;
  text-indent:10px;
  width:100%;
}

/*모달 서식*/
.modal *{
  margin:0px; padding:0px;
}
.modal{
  text-align: center;
  width:100%;
  height:100%;
  position: fixed;
  top:0px;
  left:0px;
  background-color: rgba(0,0,0,.7);
}
.m_inner{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:15px;
  text-align: right;
}
.m_inner > img{
  width:500px;
  height:400px;
}
.m_inner > input{
  position: relative;
  right:52px;
  top:-420px;
  width:50px;
  height:30px;
  font-size:20px;
}
